DB_HOST=localhost
DB_PORT=3306
DB_NAME=agrismart
DB_USERNAME=<YOUR_USERNAME>
DB_PASSWORD=<YOUR_PASSWORD>
JWT_SECRET=<YOUR_JWT_SECRET_AT_LEAST_256_BIT_LONG_FOR_HS256>
WEATHER_API_KEY=<YOUR_WEATHER_API_KEY>
ML_SERVICE_URL=http://localhost:5000
